<div class="container mt-5">
  <h2 class="mb-4">フォローユーザー</h2>
  <% if @customers.exists? %>
    <%= render "/user/customers/index", customers: @customers, class: 'list-group' %>
  <% else %>
    <p class="text-muted">ユーザーはいません</p>
  <% end %>
</div>