@use '~bootstrap/scss/bootstrap';



.sidebar {
  padding: 10px;
  background-color: #f5f5f5;
  border-right: 1px solid #ddd;
}

/* タグフォームの幅調整 */
.half-width {
    width: 500px; 
}
/* 本文フォームの幅調整 */
.custom-width {
    width: 600px;
}
/* 各種ボタン内文字の大きさ調整 */
.large-text {
  font-size: 21px; 
}



