<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h1>知育菓子の可能性</h1>
      <h3>☆親子で楽しむ知育菓子 ☆</h3>
      <p>子供の成長にとって大切なこの時間を、知育菓子作りでさらに有意義なものにしませんか？</p>
      <p>知育菓子作りは、ただ楽しいだけでなく、お子さんの様々なスキルを育む絶好の機会です。</p>
      <p>親子で一緒に取り組むことで、子供の創造性、問題解決能力、そしてコミュニケーション能力と絆を育むことが出来ます。</p>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-6">
      <h4>★創造性を刺激する</h4>
      <p>知育菓子作りは、お子さんが自分だけのオリジナル作品を考え、形にするプロセスを通じて、創造性を大いに刺激します。</p>
    </div>
    <div class="col-md-6">
      <h4>★手先の器用さを養う:</h4>
      <p>細かい作業を要する知育菓子作りは、お子さんの手先の器用さを自然と養います。</p>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-6">
      <h4>★数学的思考の基礎を築く</h4>
      <p>楽しんで量を計ったり、形を比較したりする活動は、無意識のうちに数学的概念を自然に学ぶ良い機会となります。</p>
    </div>
    <div class="col-md-6">
      <h4>★自立心と自信を育む</h4>
      <p>一から作り上げたお菓子を見ることは、お子さんにとって大きな達成感と自信につながります。</p>
    </div>
  </div>
</div>