<h1>レビュー投稿一覧</h1>

<%= link_to 'レビュー投稿', new_post_path %>

<table>
  <thead>
    <tr>
      <th>投稿文</th>
      <th>評価</th>
      <th colspan="3"></th>
    </tr>
  </thead>

 <tbody>
  <% @user_posts.each do |user_post| %>
    <tr>
      <td><%= link_to user_post.title, post_path(user_post) %></td>
      <td><%= render 'user/posts/static_rate', user_post: user_post %></td>
  
    </tr>
  <% end %>
</tbody>

<br>


